@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.app {
  text-align: center;
}
.app h1 {
  padding: 1em 0;
  text-shadow: 3px 2px rgba(50, 50, 70, 0.5);
}
.app {
  color: white;
  background-image: url("./assets/sky2.jpg");
  background-size: cover;
}
.container {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0 3em;
}
.app .search {
  text-align: center;
  padding: 1em;
}
.app input {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  border-radius: 25px;
  border: 1px solid white;
  background: grey;
  opacity: 0.6;
  color: white;
}
::placeholder {
  color: white;
}
.today {
  font-weight: 700;
  text-shadow: 3px 2px rgba(50, 50, 70, 0.5);
  padding: 2em 0;
  font-size: 20px;
}
.app .top {
  display: inline-block;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px 0;
  border: white 2px solid;
  justify-content: center;
  width: 240px;
}
.bottom {
  display: grid;
  grid-gap: 12px;
  padding-bottom: 1em;
}
.bold {
  font-weight: 700px;
}
.location {
  max-width: 100%;
}
.feels {
  display: inline-block;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1em 5em;
  border: white 2px solid;
}
.humidity {
  display: inline-block;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1em 5em;
  border: white 2px solid;
}
.wind {
  display: inline-block;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px 0;
  border: white 2px solid;
  width: 240px;
}
footer {
  padding-bottom: 10em;
}
